@model VirtualWallet.Model.Domain.Spending

@{
    ViewData["Title"] = "Create";
}

@{
    var defaultDate = new DateTime(ViewBag.Year, ViewBag.Month, DateTime.Now.Day);
}

<h1>Nowy Wydatek</h1>

<h4>Dodawanie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Spending" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <label class="control-label">(Domyślnie: @defaultDate.ToString("dd.MM.yyyy"))</label>
                <input name="date-picker" type="date" class="form-control" value="@defaultDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit-btn" type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Current" asp-controller="MonthlySpending">Powrot</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    </script>
}
